@font-face {
  font-family: 'impact-nieuw';
  src: url('../fonts/impact-nieuw.woff2');
}

@font-face {
  font-family: 'not-courier-sans';
  src: 
    url('../fonts/not-courier-sans.otf') 
    format("opentype")
  ;
}

:root {


  /* Default The Hmm colors */

  --black          : hsl(   0,   0%,   0% );
  --white          : hsl(   0,   0%, 100% );
  --yellow         : hsl(  60, 100%,  50% );
  --blue           : hsl( 240, 100%,  50% );
  --light-grey     : hsl(   0,   0%,  88% );
  --mid-grey       : hsl(   0,   0%,  39% );
  --dark-grey      : hsl(   0,   0%,  20% );
  --orange-red     : hsl( 352, 100%,  69% );


  /* Foregrounds and backgrounds */
  /* Changes with different elements */
  
  --fore           : var(--black);
  --back           : var(--white);
  

  /* The default accent color used in the entire website */
  /* This value is overidden in the Event page. */

  --accent         : var(--blue);
  --error          : var(--orange-red);


  /* Shadow parameters for box-shadows and drop-shadows */

  --shadow-color   : hsla(0, 0%, 0%, 0.288);
  --shadow-size    : 1rem;
  --shadow         : 0 0 var(--shadow-size) 0 var(--shadow-color);
  --filter-shadow  : 0 0 var(--shadow-size) var(--shadow-color);


  /* Borders and outlines */

  --solid          : 1px solid;
  --dash           : 1px dashed;
  --focus          : 2px solid var(--accent);
  

  /* Transition and animation speeds */

  --very-fast      : 0.125s;
  --fast           : 0.25s;
  --slow           : 0.5s;
  --very-slow      : 1s;
  --enter          : var(--slow);


  /* Default ssizes of sections of the page */

  --marquee-height : 2.33rem;
  --header-height  : max( 23%, 10rem);
  --side-width     : 20rem;
  --footer-height  : 4rem;
  
}


/* Accessibility* classes attached to <main> */
/* All speeds are set to 0 to reduce motion */

.reduce_motion {
  --very-fast      : 0s;
  --fast           : 0s;
  --slow           : 0s;
  --very-slow      : 0s;
}


/* All nodes are stripped of their animations / transitions */

.reduce_motion * {
  animation        : none !important;
  transform        : none !important;
  opacity          : unset !important;
}


/* All shadow params are reduced to 0 to eliminate depth. */

.reduce_depth {
  --shadow-color   : hsla(0, 0%, 0%, 0);
  --shadow-size    : 0;
  --shadow         : none;
  --filter-shadow  : 0 0 0 transparent;
}


/* All nodes are stripped of their box-shadows / drop-shadows */

.reduce_depth * {
  box-shadow       : none !important;
  filter           : none !important;
}


/* Preventing headaches */

*,
*::before,
*::after {
  box-sizing       : border-box;
  color            : var(--fore);
}


/* Any element that is selected gets inverted */

*::selection {
  background-color : var(--fore);
  color            : var(--back);
} 


/* Any element that is focused get's a Hmm outline */

*:focus {
  outline          : var(--focus);
}


/* Stripping document of browser styles and adding toni's:*/
/* => body copy : 18px => 1.00rem */
/* => interface : 24px => 1.33rem */
/* => buttons   : 42px => 2.33rem */

html,
body {
  padding          : 0;
  margin           : 0;
  height           : 100%;
  width            : 100%;
  background-color : var(--back);
  font-family      : Arial, Helvetica, sans-serif;
  font-size        : 18px;
  /* line-height      : 1.4; */
}


/* overriding anchors with The Hmm black, adding */
/* the border bottom instead of an underline */

a,
a:active,
a:visited {
  color            : var(--fore);
  font-family      : 'Times New Roman', Times, serif;
  font-style       : italic;
  font-size        : 1.2em;
  text-decoration  : none;
  border-bottom    : 1px solid;
}

a:hover {
  border-bottom    : 2px solid;
}


/* Custom font for headers */
/* todo: confirm license */

h1,
h2 {
  font-family      : 'impact-nieuw', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight      : normal;
  font-size        : 1.8rem;
  line-height      : 1.1;
}


/* In this city we don't like bold type. */

h3,
h4,
h5,
h6 {
  font-weight      : normal;
}


ul {
  margin           : 0;
  padding          : 0;
}

li {
  margin           : 0;
  padding          : 0;
}

li::before {
  content          : '→ '
}


/* all elements with role=status */

*[role="status"] {
  font-family      : 'not-courier-sans', monospace;
}


/* `Comment class looks like this. */

.comment {
  --fore           : var(--mid-grey);
  font-style       : italic;
  font-size        : 0.8rem;
  line-height      : 0.5;
}   


/* Input styles */

input,
input::before {
  /* appearance       : unset; */
  /* background-color : transparent; */
}
input {
  /* border-color     : var(--accent); */

}



/* Mpbile styles */

.mobile {

  --side-width     : 100%;

  font-size        : 11pt;

}
