@font-face {
  font-family: 'karrik';
  src:
    url('../fonts/Karrik-Italic.otf')
    format("opentype")
  ;
  font-style: italic;
}

@font-face {
  font-family: 'karrik';
  src:
    url('../fonts/Karrik-Regular.otf')
    format("opentype")
  ;
  font-style: normal;
}


:root {


  /* Default The Hmm colors */

  --black          : hsl(   0,   0%,   0% );
  --white          : hsl(   0,   0%, 100% );
  --yellow         : hsl(  60, 100%,  50% );
  --blue           : hsl( 240, 100%,  50% );
  --light-grey     : hsl(   0,   0%,  88% );
  --mid-grey       : hsl(   0,   0%,  39% );
  --dark-grey      : hsl(   0,   0%,  20% );
  --orange-red     : hsl( 352, 100%,  69% );
  --error          : var(--orange-red);


  /* Borders and outlines */

  --dash           :   1px dashed;
  --thin           : 0.5px solid;
  --solid          :   1px solid;
  --thick          :   2px solid;
  --radius         : 0.75rem;
  --radius-s       : 0.35rem;


  /* Shadow parameters for box-shadows and drop-shadows */

  --shadow-color   : hsla(0, 0%, 0%, 0.288);
  --shadow-size    : 1rem;
  --shadow         : 0 0 var(--shadow-size) 0.1rem var(--shadow-color);


  /* Transition and animation speeds */

  --very-fast      : 0.125s;
  --fast           : 0.25s;
  --slow           : 0.5s;
  --very-slow      : 1s;
  --enter          : var(--slow);


  /* Default ssizes of sections of the page */

  --nav-height : 2.33rem;
  /* --header-height  : max( 23%, 10rem); */
  --header-height  : max( 20vh, 10rem);
  /* --total-header   : calc( var(--marquee-height) + var(--header-height) ); */
  --total-header   : var(--header-height);
  --middle-height  : calc( 100% - var(--total-header ) );
  --side-width     : 20rem;
  --main-width     : calc( 100% - var(--side-width) );
  --footer-height  : 5rem;


}


/* Accessibility* classes attached to <main> */
/* All speeds are set to 0 to reduce motion */

.reduce_motion {
  --very-fast      : 0s;
  --fast           : 0s;
  --slow           : 0s;
  --very-slow      : 0s;
}


/* All nodes are stripped of their animations / transitions */

.reduce_motion * {
  animation        : none  !important;
  transform        : none  !important;
  opacity          : unset !important;
}

@media (prefers-reduced-motion) {
  :root {
    --very-fast    : 0s;
    --fast         : 0s;
    --slow         : 0s;
    --very-slow    : 0s;
  }
  * {
    animation      : none !important;
    transform      : none !important;
    opacity        : unset !important;
  }
}


@media (prefers-reduced-motion: no-preference) {
}





/* All shadow params are reduced to 0 to eliminate depth. */

.reduce_depth {
  --shadow-color   : hsla(0, 0%, 0%, 0);
  --shadow-size    : 0;
  --shadow         : none;
}


/* All nodes are stripped of their box-shadows / drop-shadows */

.reduce_depth * {
  box-shadow       : none !important;
  filter           : none !important;
}


/* Preventing headaches */

*,
*::before,
*::after {
  position         : relative;
  box-sizing       : border-box;
  color            : var(--fore);
}


/* Any element that is selected gets inverted */

*::selection {
  background-color : var(--fore);
  color            : var(--back);
}


/* Any element that is focused get's a Hmm outline */

*:focus {
  outline          : var(--focus);
}


/* Relative positioning of rows and cells not supported */

td, tr {
  position         : unset;
}


/* Stripping document of browser styles and adding toni's:*/
/* => body copy : 18px => 1.00rem */
/* => interface : 24px => 1.33rem */
/* => buttons   : 42px => 2.33rem */

html,
body {
  padding          : 0;
  margin           : 0;
  height           : 100%;
  width            : 100%;
  font-family      : karrik, Arial, Helvetica, sans-serif;
  font-size        : 18px;
  --size-xs        : 0.25rem;
  --size-s         : 1rem;
  --size-m         : 1.33rem;
  --size-l         : 2.33rem;
}


body {

  /* The default colors used in the entire website */
  /* This value is overidden in the .event class */

  --back: var(--white);
  --fore: var(--black);
  --accent: var(--white);
  --focus: var(--thick) var(--accent);

}

body#livestream {
  /* --fore: var(--white); */
  /* --back: var(--blue);
  --fore: var(--white);
  --accent: var(--yellow); */
}

.event {
  --i: 0;
  --n: 0;
  padding: var(--size-s);
  width: 100%;
  display: flex;
}




/* overriding anchors with The Hmm black, adding */
/* the border bottom instead of an underline */

a,
a:active,
a:visited {
  color            : var(--fore);
  /* font-family      : 'Times New Roman', Times, serif; */
  font-style       : italic;
  font-size        : 1.2em;
  text-decoration  : none;
  border-bottom    : 1px solid;
}

a:hover {
  border-bottom    : 2px solid;
}


/* Custom font for headers */
/* todo: confirm license */

h1 {
  font-weight      : normal;
  font-size        : 1.8rem;
  line-height      : 1.1;
}


ul {
  margin           : 0;
  padding          : 0;
  font-size        : var(--size-s);
}

li {
  margin           : 0;
  padding          : 0;
  list-style       : none ;
}

li::before {
  content          : '→ '
}


/* all elements with role=status */

*[role="status"] {
  font-family      : 'karrik', monospace;
}


/* `Comment class looks like this. */

.comment {
  --fore           : var(--mid-grey);
  font-style       : italic;
  font-size        : 0.8rem;
  line-height      : 0.5;
}


/* Mpbile styles */

.mobile {
  --side-width     : 100%;
  --footer-height  : 2rem;
  --nav-height : 2rem;
  font-size        : 11pt;
}


/* when switching years and rotating events */
.event.switch-enter-active {
  animation : switch var(--enter) ease calc( 0.1s * var(--n) ) both;
}
.event.switch-leave-active {
  animation : switch var(--enter) ease calc( 0.1s * var(--i) ) reverse both;
}
@keyframes switch {
  from {
    max-height : 0rem;
    padding-top: 0;
  }
  to {
    max-height : 10rem;
    padding-top: var(--size-s);
  }
}

/* main component switching between index, livestream and fallback */
.flyall-enter-active {
  /* animation : flyall var(--enter) ease both; */
}
.flyall-leave-active {
  /* animation : flyall var(--enter) ease reverse both; */
}
@keyframes flyall {
  from {
    transform : translateY( 100vh );
  }
  to   {
    transform : translateY( 0 );
  }
}

/* event list items behaviour during component switching */
.flyall-enter-active li.event {
  /* animation : flyaway var(--enter) ease calc( 0.1s * var(--n) ) both; */
}
.flyall-leave-active li.event {
  animation : flyaway var(--enter) ease calc( 0.1s * var(--i) ) reverse both;
}
@keyframes flyaway {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0vh);
  }
}



.fallback.flyall-enter-active,
.fallback.flyall-leave-active {
  transition: opacity var(--very-fast) ease;
}
.fallback.flyall-enter-from,
.fallback.flyall-leave-to {
  opacity: 0;
  transition: opacity var(--very-fast) ease;
}
