main {
  position   : absolute;
  width      : 100%;
}
main #banner {
  margin     : var(--marquee-height) auto;
} 
main section {
  background : var(--white);
  max-width  : min(70%, 50rem);
  margin     : 5rem auto;
  overflow   : scroll;
}
main section p {
  margin     : 0;
  /* color      : inherit; */
}
