

/* Options and Chat tabs at the bottom :) */

.tab {

  --back           : var(--yellow);
  --base-height    : 3rem;
  --full-height    : 15rem;
  --tab-width      : 10rem;

  box-shadow       : var(--shadow);
  transform        : translateY( var(--distance) );
  animation        : tab_enter var(--enter) ease calc( 0.4s + var(--n) *  0.1s) forwards;

}

.tab label.title {
  background-color : var(--back);
  height           : var(--base-height);
  padding           : 0 0.5rem;
  display          : flex;
}

.tab .contents {
  background       : var(--back);
  min-width        : var(--tab-width);
  max-width        : var(--tab-width);
  min-height       : 0;
  max-height       : 0;
  padding          : 0;
  transition       : 
    padding     var(--fast) ease-in-out,
    min-height  var(--fast) ease-in-out,
    max-height  var(--fast) ease-in-out,
    min-width   var(--fast) ease-in-out,
    max-width   var(--fast) ease-in-out,
    box-shadow  var(--fast) ease-in-out,
    margin      var(--fast) ease-in-out
  ;
}

.tab .contents >>> ul {
  list-style       : none;
  padding          : 0;
  margin           : 0;
}
.tab .contents >>> ul li {
  padding          : 0.1rem 0.5rem;
}

.tab:hover .contents,
.tab:focus .contents,
.tab:focus-within .contents {
  max-height       : var(--full-height);
  max-width        : var(--tab-width);
  overflow         : scroll;
}

.mobile .tab {
  --base-height    : 2.5rem;
  --tab-width      : 8rem;

}

@keyframes tab_enter {
  from { transform : translateY( var(--distance) ) }
  to   { transform : translateY(0) }
}
