
/* Options and Chat tabs at the bottom :) */

.tab {
  --base-height    : 3rem;
  --full-height    : 15rem;
  --tab-width      : 10rem;
  border: var(--solid);
  border-radius: var(--radius);
  overflow: hidden;
}
.tab label.title {
  background-color : var(--accent);
  height           : var(--base-height);
  padding           : 0 0.5rem;
  display          : flex;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.tab .contents {
  background       : var(--accent);
  min-width        : var(--tab-width);
  max-width        : var(--tab-width);
  min-height       : 0;
  max-height       : 0;
  padding          : 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;  
  transition       :
    padding     var(--fast) linear,
    min-height  var(--fast) linear,
    max-height  var(--fast) linear,
    min-width   var(--fast) linear,
    max-width   var(--fast) linear,
    box-shadow  var(--fast) linear,
    margin      var(--fast) linear
  ;
}
.tab .contents :deep(ul) {
  list-style       : none;
  padding          : 0;
  margin           : 0;
}
.tab .contents :deep(ul li) {
  padding          : 0.1rem 0.5rem;
}
.tab:hover .contents,
.tab:focus .contents,
.tab:focus-within .contents {
  max-height       : var(--full-height);
  max-width        : var(--tab-width);
  overflow         : scroll;
}
.mobile .tab {
  --base-height    : 2.5rem;
  --tab-width      : 8rem;

}
