:root {


  /* Default The Hmm colors */

  --black          : hsl(   0,   0%,   0% );
  --white          : hsl(   0,   0%, 100% );
  --yellow         : hsl(  60, 100%,  50% );
  --blue           : hsl( 240, 100%,  50% );
  --light-grey     : hsl(   0,   0%,  88% );
  --mid-grey       : hsl(   0,   0%,  39% );
  --dark-grey      : hsl(   0,   0%,  20% );


  /* Foregrounds and backgrounds */
  /* Changes with different elements */
  
  --fore           : var(--black);
  --back           : var(--white);
  

  /* Function to produce accent shades */
  /* This is used to change colors per event */

  --h              : 240;
  --s              : 100%;
  --l              : 50%;
  --accent         : hsl( var(--h), var(--s), var(--l) );
  --increment      : 10%;


  /* Shadow parameters for box-shadows and drop-shadows */

  --shadow-color   : hsla(0, 0%, 0%, 0.288);
  --shadow-size    : 1rem;
  --shadow         : 0 0 var(--shadow-size) 0 var(--shadow-color);
  --filter-shadow  : 0 0 var(--shadow-size) var(--shadow-color);


  /* Transition and animation speeds */

  --very-fast      : 0.125s;
  --fast           : 0.25s;
  --slow           : 0.5s;
  --very-slow      : 1s;
  --enter          : var(--slow);
  
}


/* Accessibility* classes attached to <main> */
/* All speeds are set to 0 to reduce motion */

.reduce_motion {
  --very-fast      : 0s;
  --fast           : 0s;
  --slow           : 0s;
  --very-slow      : 0s;
}


/* All nodes are stripped of their animations / transitions */

.reduce_motion * {
  animation        : none !important;
  transform        : none !important;
  opacity          : unset !important;
}


/* All shadow params are reduced to 0 to eliminate depth. */

.reduce_depth {
  --shadow-color   : hsla(0, 0%, 0%, 0);
  --shadow-size    : 0;
  --shadow         : none;
  --filter-shadow  : 0 0 0 transparent;
}


/* All nodes are stripped of their box-shadows / drop-shadows */

.reduce_depth * {
  box-shadow       : none !important;
  filter           : none !important;
}


/* Preventing headaches */

*,
*::before,
*::after {
  box-sizing       : border-box;
}

/* Stripping document of browser styles */

html,
body {
  padding          : 0;
  margin           : 0;
  height           : 100%;
  width            : 100%;
}


/* For accessibily reasons, I removed vue's default root */
/* <div> and instead gave the document's <body> tag the */
/* #app id. This doesn't seem to create any problems yet. */
/* See file: @/front/index.html */

/* Default font sizes from toni */
/* => body copy : 18px => 1.00rem */
/* => interface : 24px => 1.33rem */
/* => buttons   : 42px => 2.33rem */

body {
  font-family      : Arial;
  font-size        : 18px;
  background-color : var(--back);
}


/* All text elements have their color set to --fore; */
/* --fore is changed in the different children of body */

body * {
  color            : var(--fore);
}


/* any text element that is selected get inverted */

body *::selection {
  background-color : var(--fore);
  color            : var(--back);
} 


/* overriding anchors with The Hmm blue */

a,
a:active,
a:visited {
  color            : var(--fore);
  font-style       : italic;
}


/* all elements with role=status */

*[role="status"] {
  font-family      : monospace;
}


/* Option tabs at the bottom :) */

.tab {
  --back           : var(--yellow);
  filter           : drop-shadow( var(--filter-shadow) );
  animation        : tab_enter var(--enter) ease calc( 0.4s + var(--n) *  0.1s) forwards;
  transform        : translateY(5rem);
}

.tab label.title {
  padding          : 0.7rem 1rem;
  height           : 3rem;
  display          : flex;
  align-items      : flex-end;
  justify-content  : center;
  white-space      : pre;
  text-align       : center;
  border-top-left-radius  : 50%;
  border-top-right-radius : 50%;
  background-color : var(--back);
}

.tab:focus label.title {
  outline          : 0.15rem solid var(--blue);
}

@keyframes tab_enter {
  from { transform : translateY(5rem); }
  to { transform   : translateY(0); }
}

.tab li label:focus,
.tab li:focus {
  outline          : 0.15rem solid var(--blue);
}

.tab .contents {
  background       : var(--back);
  max-height       : 0;
  min-width        : 10rem;
  max-width        : 10rem;
  padding          : 0;
  transition       : 
    padding    var(--fast) ease-in-out,
    max-height var(--fast) ease-in-out,
    max-width  var(--fast) ease-in-out,
    min-width  var(--fast) ease-in-out
  ;
  border-top       : 0.1rem solid var(--fore);
}

.tab:hover .contents,
.tab:focus-within .contents,
.tab:focus .contents {
  max-height       : 14rem;
  max-width        : 10rem;
  padding          : 0.5rem 0;
}


/* `Comment class looks like this. */

.comment {
  --fore           : var(--mid-grey);
  font-style       : italic;
  font-size        : 0.8rem;
  line-height      : 0.5;
}   


/* Mpbile styles */

.mobile {
  font-size: 11pt;
}

.mobile #options .tab:hover .contents,
.mobile #options .tab:focus-within .contents,
.mobile #options .tab:focus .contents {
  min-width: 10rem;
}
